.search {
  background: #FFFFFF;
  max-width: 1140px;
  margin: 0 auto;
  padding: 30px 150px;
  .search__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  .add-card {
    gap: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
  }
}

@media screen and (max-width: 1280px) {
  .search {
    padding: 30px 30px;
  }
}
