<div class="auth">
  <h2 class="auth__title">Login</h2>
  <form
    action=""
    class="form"
    [formGroup]="formLogin"
    (ngSubmit)="formLogin.valid && setLoginValue()">
    <div class="form__login">
      <input
        class="auth__input"
        type="email"
        placeholder="Email"
        formControlName="login" />
      <div
        class="error-message"
        *ngIf="formLogin.controls['login'].errors?.['required'] && formLogin.controls['login'].touched">
        Please enter a login email
      </div>
      <div
        class="error-message"
        *ngIf="formLogin.controls['login'].errors?.['pattern'] && formLogin.controls['login'].touched">
        The login email is invalid
      </div>
    </div>
    <div class="form__password">
      <input
        class="auth__input"
        type="password"
        placeholder="Password"
        formControlName="password" />
      <div
        class="error-message"
        *ngIf="formLogin.controls['password'].errors?.['required'] && formLogin.controls['password'].touched">
        Please enter a password
      </div>
      <div
        class="error-message"
        *ngIf="formLogin.controls['password'].errors?.['pattern'] && formLogin.controls['password'].touched">
        Your password isn't strong enough:
      </div>
      <div
        class="error-message"
        *ngIf="formLogin.controls['password'].errors?.['minlength'] && formLogin.controls['password'].touched">
        - at least 8 characters
      </div>
      <div
        class="error-message"
        *ngIf="
        formLogin.controls['password'].errors?.['case'] &&
        formLogin.controls['password'].touched">
        - a mixture of both uppercase and lowercase letters
      </div>
      <div
        class="error-message"
        *ngIf="formLogin.controls['password'].errors?.['simbol'] &&
        formLogin.controls['password'].touched">
        - inclusion of at least one special character
      </div>
      <div
        class="error-message"
        *ngIf="formLogin.controls['password'].errors?.['number'] &&
        formLogin.controls['password'].touched">
        - a mixture of letters and numbers
      </div>
    </div>
    <button
      class="auth__submit example-action-button"
      mat-raised-button
      type="submit">
      Login
    </button>
  </form>
</div>
